<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modules.buyer.mapper.BuyerMapper">

    <select id="queryBuyer" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        b.buyer_id,b.country_id,b.name,b.level,b.img_commission,b.word_commission,b.video_commission,b.contact_details,
        c.country_name
        FROM buyer b ,country c
        WHERE
        b.country_id = c.country_id
        <!--        <if test="user_id !=null and user_id != ''">-->
        <!--            and t.user_id = #{user_id}-->
        <!--        </if>-->

        <!--        <if test="asin !=null and asin != ''">-->
        <!--            and t.asin like CONCAT('%',#{asin},'%')-->
        <!--        </if>-->

        <!--        <if test="typeId !=null and typeId != ''">-->
        <!--            and t.type_id = #{typeId}-->
        <!--        </if>-->

        <!--        <if test="keyword !=null and keyword != ''">-->
        <!--            and t.keyword like CONCAT('%',#{keyword},'%')-->
        <!--        </if>-->

        <!--        <if test="priceBegin != null and priceBegin != ''">-->
        <!--            AND t.price <![CDATA[>=]]> #{price}-->
        <!--        </if>-->
        <!--        <if test="priceEnd != null and priceEnd != ''">-->
        <!--            AND t.price <![CDATA[<=]]> #{price}-->
        <!--        </if>-->

        <!--        <if test="categoryId !=null and categoryId != ''">-->
        <!--            and t.category = #{categoryId}-->
        <!--        </if>-->
        <!--        <if test="order_status !=null and order_status != ''">-->
        <!--            and t.order_status = #{order_status}-->
        <!--        </if>-->
        <!--        <if test="shop !=null and shop != ''">-->
        <!--            and t.shop like CONCAT('%',#{shop},'%')-->
        <!--        </if>-->
        limit #{rowIndex},#{limit}
    </select>


    <select id="queryBuyerCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(0) FROM buyer b ,country c
        WHERE
        b.country_id = c.country_id
        <!--        <where>-->
        <!--            <if test="user_id !=null and user_id != ''">-->
        <!--                and t.user_id = #{user_id}-->
        <!--            </if>-->

        <!--            <if test="asin !=null and asin != ''">-->
        <!--                and t.asin = #{asin}-->
        <!--            </if>-->

        <!--            <if test="type_id !=null and type_id != ''">-->
        <!--                and t.type_id = #{type_id}-->
        <!--            </if>-->

        <!--            <if test="keyword !=null and keyword != ''">-->
        <!--                and t.keyword like CONCAT('%',#{keyword},'%')-->
        <!--            </if>-->

        <!--            <if test="priceBegin != null and priceBegin != ''">-->
        <!--                AND t.price <![CDATA[>=]]> #{price}-->
        <!--            </if>-->
        <!--            <if test="priceEnd != null and priceEnd != ''">-->
        <!--                AND t.price <![CDATA[<=]]> #{price}-->
        <!--            </if>-->

        <!--            <if test="category !=null and category != ''">-->
        <!--                and t.category = #{category}-->
        <!--            </if>-->
        <!--            <if test="order_status !=null and order_status != ''">-->
        <!--                and t.order_status = #{order_status}-->
        <!--            </if>-->
        <!--            <if test="shop !=null and shop != ''">-->
        <!--                and t.shop like CONCAT('%',#{shop},'%')-->
        <!--            </if>-->
        <!--        </where>-->
    </select>


</mapper>
